<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand text-danger font-weight-bold unselectable" href="/">
        NETFLEX
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#my-navbar"
        aria-controls="my-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="my-navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/videos">Videos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/audios">Audios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/files">Files</a>
            </li>

        </ul>

        <span class="navbar-nav">
            <a href="/settings" class="nav-link bi-gear-fill" style="padding: 0; font-size: 1.3rem; "></a>
        </span>
    </div>
</nav>
